@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');


#calendar_table {
   background-color: #b8eeff;  
   font-size: 0.9em; 
   font-family: 'Poppins';
   width: 100%;      
}

#calendar_table caption {
   caption-side: top; 
   text-align: center;
   padding-bottom: 20px; 
   font-size: 1.6em; 
   letter-spacing: 0.3em;
}

.calendar_weekdays {
   background-color: #131313;
   width: 14.28%; 
   font-size: 1em; 
   border-bottom: 3px solid gray;
   color: white;
}

.calendar_dates {
   text-align: left; 
   vertical-align: top;
   font-size: 0.8em;
   padding: 3px;
   border: 1px dotted gray;
   background-color: white;
   height: 60px;
}

#calendar_today {
   font-weight: bold; 
   color: rgb(51, 51, 51);
   background-color: #b8eeff;
   border: 1px solid black;
   color: #000;
}


