@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins';
}

.navbar {
	background-color: #131313;
	padding: 1rem 8rem;
	z-index: 1000;
}

.navbar .navbar-brand {
	color: white;
	font-size: 1.4rem;
	font-weight: 700;
}

.navbar .navbar-brand:hover {
	color: #b8eeff;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
	color: white;
	font-size: 1.1rem;
	padding: 0 0.8em;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
	color: #b8eeff;
}

#navbarSupportedContent > button {
	background-color: white;
	font-weight: 600;
	padding: 0.4rem 1.4rem;
	border: none;
	border-radius: 15rem;
}
#navbarSupportedContent > button:hover {
	background-color: #b8eeff;
}

.mid {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.video-fluid {
	width: 100%;
	height: 100%;
	pointer-events: none;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mid .hero {
	position: relative;
}

.mid .hero p {
	width: 55%;
	font-size: 1.1rem;
	letter-spacing: 0.2rem;
	padding-bottom: 1rem;
}

.mid .hero a {
	background-color: white;
	font-weight: 600;
	padding: 0.6rem 1.4rem;
	border: none;
	border-radius: 15rem;
	text-decoration: none;
}

.mid .hero a:hover {
	background-color: #b8eeff;
}

.group-classes {
	background-color: #131313;
}

.group-classes .text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.group-classes .text h6 {
	color: #b8eeff;
	font-weight: 800;
	font-size: 1rem;
	letter-spacing: 2px;
}

.group-classes .text h2 {
	color: #f7f5f4;
	font-weight: 700;
	font-size: 2.7rem;
}

.group-classes .text p {
	color: #f7f5f4;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}

.group-classes .text a {
	background-color: #f7f5f4;
	font-weight: 600;
	padding: 0.6rem 1.4rem;
	border: none;
	border-radius: 15rem;
	text-decoration: none;
}

.group-classes .text a:hover {
	background-color: #b8eeff;
}

.personal-training {
	background-color: white;
}

.personal-training .text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.personal-training .text h6 {
	color: #b8eeff;
	font-weight: 800;
	font-size: 1rem;
	letter-spacing: 2px;
}

.personal-training .text h2 {
	color: #131313;
	font-weight: 700;
	font-size: 2.7rem;
}

.personal-training .text p {
	color: #131313;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}

.personal-training .text a {
	background-color: black;
	font-weight: 600;
	padding: 0.6rem 1.4rem;
	border: none;
	border-radius: 15rem;
	text-decoration: none;
	color: white;
}

.personal-training .text a:hover {
	background-color: #b8eeff;
	color: black;
}

.services {
	background-color: #131313;
}

.services .one {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem 1.5rem;
	border-radius: 7px;
}

.jungle {
	background-color: white;
}

.jungle .text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.jungle .text h6 {
	color: #b8eeff;
	font-weight: 800;
	font-size: 1rem;
	letter-spacing: 2px;
}

.jungle .text h2 {
	color: #131313;
	font-weight: 700;
	font-size: 2.7rem;
}

.jungle .text p {
	color: #131313;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}

.jungle .text a {
	background-color: black;
	font-weight: 600;
	padding: 0.6rem 1.4rem;
	border: none;
	border-radius: 15rem;
	text-decoration: none;
	color: white;
}

.jungle .text a:hover {
	background-color: #b8eeff;
	color: black;
}
